<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/recetas" slot="icon-only"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #frmRegister="ngForm" (ngSubmit)="onRegistro(frmRegister)">
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Edad</ion-label>
      <ion-input type="number" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" value="Register">Registrarse</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>