ion-icon{
    margin-right: 5%;
}
h1{
    text-align: center;
}
ion-item.instrucciones{
    margin-top: 5%;
    margin-bottom: 5%;
}
ion-grid{
    background-color: rgba(250, 235, 215, 0.384);
}
ion-list{
    border-radius: 2%;
}
ion-col{
    text-align: center;
}